h1{
	padding: 10px;
}

#add{
	margin: 10px 0;
}

.fa-plus{
	margin-right: 5px;
}

#lista ul{
	padding: 10px 0;
	list-style-type: none;
}

#lista ul li{
	background-color: #E0E0E0;
	margin: 5px 0;
	padding: 12px;
}

.remove{
	background-color: #E0E0E0;
	border:none;
	padding: 0 5px 5px;
	float:right;
}

.fa-trash-o{
	font-size: 16px;
}

